/*

███████╗ █████╗ ██╗     ██████╗  ██████╗     ██████╗ ███████╗██████╗
██╔════╝██╔══██╗██║     ██╔══██╗██╔═══██╗    ██╔══██╗██╔════╝██╔══██╗
███████╗███████║██║     ██║  ██║██║   ██║    ██████╔╝█████╗  ██║  ██║
╚════██║██╔══██║██║     ██║  ██║██║   ██║    ██╔══██╗██╔══╝  ██║  ██║
███████║██║  ██║███████╗██████╔╝╚██████╔╝    ██║  ██║███████╗██████╔╝
╚══════╝╚═╝  ╚═╝╚══════╝╚═════╝  ╚═════╝     ╚═╝  ╚═╝╚══════╝╚═════╝

*/

:root {
  --saldored-padding-big: 24px;
  --saldored-padding-small: 10px;
  --saldored-reference-height: 38px;

  /* System Colors */
  --ios-system-red: rgba(255,59,48,1);
  --ios-system-orange: rgba(255,149,0,1);
  --ios-system-yellow: rgba(255,204,0,1);
  --ios-system-green: rgba(52,199,89,1);
  --ios-system-teal: rgba(90,200,250,1);
  --ios-system-blue: rgba(0,122,255,1);
  --ios-system-blue-transparent: rgba(0,122,255,.1);
  --ios-system-indigo: rgba(88,86,214,1);
  --ios-system-purple: rgba(175,82,222,1);
  --ios-system-pink: rgba(255,45,85,1);
  --ios-system-grey: rgba(142,142,147,1);
  --ios-system-grey-2: rgba(174,174,178,1);
  --ios-system-grey-3: rgba(199,199,204,1);
  --ios-system-grey-4: rgba(209,209,214,1);
  --ios-system-grey-5: rgba(229,229,234,1);
  --ios-system-grey-6: rgba(242,242,247,1);

  /* System Backgrounds */
  --ios-system-background-primary: rgba(255,255,255,1);
  --ios-system-background-elevated-primary: var(--ios-system-background-primary);

  --ios-system-background-secondary: rgba(239,239,244,1);
  --ios-system-background-elevated-secondary: var(--ios-system-background-secondary);

  --ios-system-background-tertiary: rgba(255,255,255,1);
  --ios-system-background-elevated-tertiary: var(--ios-system-background-tertiary);

  /* System Grouped Backgrounds */
  --ios-system-grouped-background-primary: rgba(239,239,244,1);
  --ios-system-grouped-background-elevated-primary: var(--ios-system-grouped-background-primary);

  --ios-system-grouped-background-secondary: rgba(255,255,255,1);
  --ios-system-grouped-background-elevated-secondary: var(--ios-system-grouped-background-secondary);

  --ios-system-grouped-background-tertiary: rgba(239,239,244,1);
  --ios-system-grouped-background-elevated-tertiary: var(--ios-system-grouped-background-tertiary);

  /* Fill Colors */
  --ios-primary-fill-color: rgba(120,120,128,0.2);
  --ios-secondary-fill-color: rgba(120,120,128,0.16);
  --ios-tertiary-fill-color: rgba(118,118,128,0.12);
  --ios-quarternary-fill-color: rgba(116,116,128,0.08);

  /* Label Colors */
  --ios-primary-label-color: rgba(0,0,0,1);
  --ios-secondary-label-color: rgba(60,60,67,0.6);
  --ios-tertiary-label-color: rgba(60,60,67,0.3);
  --ios-quarternary-label-color: rgba(60,60,67,0.18);

  /* Navigation Bar */
  --ios-navigationbar-background: rgba(249,249,249,1);
  --ios-navigationbar-background-transparent: rgba(249,249,249,0.5);

  /* Other */
  --saldored-modal-bottom-float-background: rgba(255,255,255,.8);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* System Colors */
    --ios-system-red: rgba(255,69,58,1);
    --ios-system-orange: rgba(255,159,10,1);
    --ios-system-yellow: rgba(255,214,10,1);
    --ios-system-green: rgba(50,215,75,1);
    --ios-system-teal: rgba(100,210,255,1);
    --ios-system-blue: rgba(10,132,255,1);
    --ios-system-blue-transparent: rgba(10,132,255,.1);
    --ios-system-indigo: rgba(94,92,230,1);
    --ios-system-purple: rgba(191,90,242,1);
    --ios-system-pink: rgba(255,55,95,1);
    --ios-system-grey: rgba(142,142,147,1);
    --ios-system-grey-2: rgba(99,99,102,1);
    --ios-system-grey-3: rgba(72,72,74,1);
    --ios-system-grey-4: rgba(58,58,60,1);
    --ios-system-grey-5: rgba(44,44,46,1);
    --ios-system-grey-6: rgba(28,28,30,1);

    /* System Backgrounds */
    --ios-system-background-primary: rgba(0,0,0,1);
    --ios-system-background-elevated-primary: rgba(28,28,30,1);

    --ios-system-background-secondary: rgba(28,28,30,1);
    --ios-system-background-elevated-secondary: rgba(44,44,46,1);

    --ios-system-background-tertiary: rgba(44,44,46,1);
    --ios-system-background-elevated-tertiary: rgba(58,58,60,1);

    /* System Grouped Backgrounds */
    --ios-system-grouped-background-primary: rgba(0,0,0,1);
    --ios-system-grouped-background-elevated-primary: rgba(28,28,30,1);

    --ios-system-grouped-background-secondary: rgba(28,28,30,1);
    --ios-system-grouped-background-elevated-secondary: rgba(44,44,46,1);

    --ios-system-grouped-background-tertiary: rgba(44,44,46,1);
    --ios-system-grouped-background-elevated-tertiary: rgba(58,58,60,1);

    /* Fill Colors */
    --ios-primary-fill-color: rgba(120,120,128,0.36);
    --ios-secondary-fill-color: rgba(120,120,128,0.32);
    --ios-tertiary-fill-color: rgba(118,118,128,0.24);
    --ios-quarternary-fill-color: rgba(116,116,128,0.18);

    /* Label Colors */
    --ios-primary-label-color: rgba(255,255,255,1);
    --ios-secondary-label-color: rgba(235,235,245,0.6);
    --ios-tertiary-label-color: rgba(235,235,245,0.3);
    --ios-quarternary-label-color: rgba(235,235,245,0.18);

    /* Navigation Bar */
    --ios-navigationbar-background: rgba(29,29,29,1);
    --ios-navigationbar-background-transparent: rgba(29,29,29,0.5);

    /* Other */
    --saldored-modal-bottom-float-background: rgba(58,58,60,.8);
  }
}

.apple-system-headline {
  font: -apple-system-headline; /* SB17 */
}

.apple-system-footnote {
  font: -apple-system-footnote; /* R13 */
}

.apple-system-body {
  font: -apple-system-body; /* R17 */
}

/* REVISAR */
/* * {
-webkit-tap-highlight-color: rgba(0,0,0,0);
box-sizing: border-box;
} */

h1, h2, h3, h4, h5, h6, a, p, span, figure, img {
  margin: 0;
}

h4 {
  font: -apple-system-footnote; /* R13*/
  font-weight: 600;
}

body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  background-color: rgba(255,255,255,1);
  color: var(--ios-primary-label-color);
  opacity: 0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body.loaded {
  opacity: 1;
  background-color: rgba(0,0,0,1);
}

.txt-red {
  color: var(--ios-system-red);
}

#notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  z-index: 1000;
  bottom: 48px;
  left: 0;
  right: 0;
  pointer-events: none;
}

#notification-message {
  padding: 10px 36px;
  box-sizing: border-box;
  transform: translateY(100px);
  max-width: 70vw;

  background: var(--ios-system-background-elevated-tertiary);
  box-shadow: 0 0 30px 6px rgba(0,0,0,0.14);
  border-radius: 100px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  pointer-events: none;
}

/* REVISAR */
#notification-message h4 {
  text-align: center;
  display: flex;
  line-height: 1.3em;
}

#notifications.show #notification-message {
  transform: translateY(0);
}

#app {
  background: var(--ios-system-background-primary);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: calc(env(safe-area-inset-top) + 16px) 16px calc(env(safe-area-inset-bottom) + 16px) 16px;
  box-sizing: border-box;
  border-radius: 0;
  position: relative;

  /* Performance Stuff */
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

#app-content {
  display: block;
  font-size: 0;
}

#app::after, .modal::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--ios-primary-label-color);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: calc(env(safe-area-inset-top) * 2);
  left: 0;
  background: var(--ios-navigationbar-background);
  padding: 0;
  box-sizing: border-box;
  -webkit-transform: translateY(100vh);
  transform: translateY(100vh);
  border-radius: 11px 11px 0 0;
  z-index: 1;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
}

#cargaDirecta {
  background: rgba(255,255,255,1);
}

#cargaDirecta .content {
  background: none;
}

#app, .modal .content {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

#app, .modal, #app::after, .modal::after, #card, #loading-animation, #card-shadow {
  will-change: transform;
  -webkit-transition: all .43s cubic-bezier(0.2, 0.9, 0.42, 1);
  transition: all .43s cubic-bezier(0.2, 0.9, 0.42, 1);
}

.modal .header {
  top: 0;
  right: 0;
  left: 0;
  position: relative;
  background: var(--ios-navigationbar-background);
  -webkit-backdrop-filter: blur(20px) saturate(100%);
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: center;
  justify-content: center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 2;
}

.modal .header::after {
  content: '';
  height: .5px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--ios-primary-label-color);
  opacity: .2;
}

.modal .header.noborder::after {
  opacity: 0;
}

.modal .header .left, .modal .header .right {
  display: grid;
  align-content: center;
}

.modal .header .left {
  justify-content: left;
  text-align: left;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.modal .header .left .thumbnail {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,.2);
  margin-top: auto;
  margin-right: 8px;
  margin-bottom: auto;
  margin-left: auto;
}

.modal .header .left .text {
  margin: auto;
}

.modal .header .right {
  justify-content: right;
  text-align: right;
}

.close {
  position: relative;
  width: 28px;
  height: auto;
  display: grid;
  background: var(--ios-tertiary-fill-color);
  border-radius: 100px;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.close::after {
  content: '';
  position: absolute;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
}

.close svg {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(.35);
  transform: scale(.35);
}

.close svg {
  fill: var(--ios-system-grey);
}

.modal .content {
  padding: 16px;
  box-sizing: border-box;
  flex: 1;
  background: var(--ios-system-grouped-background-elevated-primary);
  /*         */
  z-index: 1;
}

#tbk {
  width: calc(100% + 32px);
  height: 100%;
  margin: -16px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: rgba(255,255,255);
}

.modal[data-open="true"] ~ #app {
  border-radius: 11px;
}

.modal[data-open="true"] ~ .modal[data-open="true"] ~ #app {
  -webkit-transform: scale(.79);
  transform: scale(.79);
  opacity: 0;
}

.modal[data-open="true"] ~ #app, .modal[data-open="true"][data-focused="false"] {
  -webkit-transform: scale(.89);
  transform: scale(.89);
}

.modal[data-open="true"] ~ #app::after, .modal[data-open="true"][data-focused="false"]::after {
  opacity: .5;
  pointer-events: all;
}

@media (prefers-color-scheme: dark) {
  .modal[data-open="true"] ~ #app::after, .modal[data-open="true"][data-focused="false"]::after {
    opacity: .25;
  }
}

.modal[data-open="true"][data-focused="true"] {
  -webkit-transform: translateY(calc(env(safe-area-inset-top) * 2));
  transform: translateY(calc(env(safe-area-inset-top) * 2));
}

.modal.feature {
  text-align: center;
}

.modal.feature .content {
  padding: 16px 16px 0;
}

.modal.feature, .modal.feature .header, .modal.feature .content {
  background: var(--ios-system-background-elevated-secondary);
}

.feature-img {
  display: block;
  margin: 32px auto;
  max-width: 138px;
}

.feature-title {
  font: -apple-system-title0;
  font-weight: 600;
}

.feature-description {
  font: -apple-system-body;
  margin: 8px 0;
}

.modal-bottom-float {
  display: block;
  position: sticky;
  position: -webkit-sticky;
  z-index: 100;
  bottom: calc(env(safe-area-inset-bottom) * -1);
  padding: 20px;
  box-sizing: border-box;
  margin: 10vh -16px 0 -16px;
  background: var(--saldored-modal-bottom-float-background);
  -webkit-backdrop-filter: saturate(180%) blur(30px);
  backdrop-filter: saturate(180%) blur(30px);
  transform: translate3d(0,0,0);
  box-shadow: 0px 50vh 0px 50vh var(--saldored-modal-bottom-float-background);
}

button.big.modal-bottom-float-button {
  margin: 0;
}

.privacy-note {
  color: var(--ios-secondary-label-color);
  fill: var(--ios-secondary-label-color);
  font: -apple-system-caption2;
  margin: 0 0 16px;
  transform: translate3d(0,0,0);
}

.privacy-note-lock {
  width: 20px;
  margin: 0 0 5px;
}

#cargaDirectaSetupBanner {
  display: none;
}

body.emailUnset #cargaDirectaSetupBanner {
  display: grid;
}

body.emailUnset .cargaDirecta {
  display: none;
}

.info.feature-banner {
  grid-template-columns: auto 1fr auto;
}

.feature-banner-img {
  width: 60px;
  margin: auto 0;
  padding: 0;
}

.feature-banner-summary {
  margin: auto;
}

.full-height-icon {
  height: 100%;
  width: 8px;
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  justify-content: center;
}

.info .full-height-icon svg {
  width: 100%;
}

/* iPhone XR and above */
@media only screen
and (min-device-width: 414px)
and (min-device-height: 896px) {
  .modal[data-open="true"] ~ #app, .modal[data-open="true"][data-focused="false"] {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }
}

/* iPhone X and above */
@media only screen
and (min-device-width: 375px)
and (min-device-height: 812px) {
  #app {
    border-radius: 39px;
  }

  .modal {
    border-radius: 11px;
    bottom: calc(env(safe-area-inset-top) + 10px);
  }

  .modal .content {
    padding: 16px 16px env(safe-area-inset-bottom);
  }

  .modal[data-open="true"][data-focused="true"] {
    -webkit-transform: translateY(calc(env(safe-area-inset-top) + 10px));
    transform: translateY(calc(env(safe-area-inset-top) + 10px));
  }
}

/* iPhone 8 Plus and below */
@media only screen
and (max-device-width: 414px)
and (max-device-height: 736px) {
  .modal[data-open="true"] ~ #app, .modal[data-open="true"][data-focused="false"] {
    -webkit-transform: scale(.92);
    transform: scale(.92);
  }
}

/* iPhone 8 and below */
@media only screen
and (max-device-width: 375px)
and (max-device-height: 667px) {
  .modal[data-open="true"] ~ #app, .modal[data-open="true"][data-focused="false"] {
    -webkit-transform: scale(.91);
    transform: scale(.91);
  }
}

/* iPhone SE and below */
@media only screen
and (max-device-width: 320px)
and (max-device-height: 568px) {
  :root {
    --saldored-padding-big: 22px;
    --saldored-padding-small: 8px;
    --saldored-reference-height: 32px;
  }

  .modal[data-open="true"] ~ #app, .modal[data-open="true"][data-focused="false"] {
    -webkit-transform: scale(.894);
    transform: scale(.894);
  }

  #notification-message {
    max-width: 80vw;
  }

  .feature-img {
    margin: 0 auto 20px;
    max-width: 120px;
  }

  .feature-title {
    font: -apple-system-title1;
    font-weight: 600;
  }

  .privacy-note-title {
    font: -apple-system-caption2;
    font-weight: 600;
  }
}

#card {
  -webkit-appearance: none;
  border: none;
  outline: none;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0;
  border-radius: 0;
  transform: translate3d(0,0,0);
}

#card-img {
  width: 100%;
}

#card-shadow {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  -webkit-transform: scale(.92) translateY(8px) translateZ(0);
  transform: scale(.92) translateY(8px) translateZ(0);
  -webkit-filter: blur(30px) saturate(150%);
  filter: blur(30px) saturate(150%);
  opacity: .65;
  z-index: -1;
  width: 100%;
}

section, section.info {
  margin: var(--saldored-padding-big) 0 0 0;
  transform: translate3d(0,0,0);
}

.modal .content section:nth-child(1) {
  margin: 0;
}

#main-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  transform: translate3d(0,0,0);
}

/* DELETE */
/* #main-info h4, .card-info h4, .info h4 {
font-weight: 600;
} */

.info p {
  font: -apple-system-footnote;
  color: var(--ios-secondary-label-color);
  line-height: 1.4em;
}

#main-info h2 {
  font: -apple-system-title0; /* R34*/
}

figure, #main-info {
  position: relative;
}

figcaption, .visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  padding: 0;
  box-sizing: border-box;
  border: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 1.2rem;
}

.buttons {
  margin: 0 -16px -16px -16px;
  padding: var(--saldored-padding-small) 0 16px 0;
  box-sizing: border-box;
  overflow: auto;
  white-space: nowrap;
  display: flex;
}

.buttons button {
  margin-right: 5px;
}

.buttons::-webkit-scrollbar {
  display: none;
}

.buttons .button:first-child, .buttons button:first-child {
  margin-left: 16px;
}

.buttons::after {
  content: ' ';
  min-width: 16px;
}

button {
  will-change: transform;
  -webkit-appearance: none;
  display: inline-flex;
  align-items: center;
  border-radius: 1000px;
  padding: 10px 16px;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font: -apple-system-footnote;
  font-weight: 600;
  line-height: 1em;
  color: inherit;
}

button.primary, .button.primary {
  background: var(--ios-system-blue);
  color: rgba(255,255,255,1);
  opacity: 1;
}

button:active, .button:active {
  border: none;
  opacity: .4;
}

button.secondary, .button.secondary, button.big.secondary, .button.big.secondary {
  border: none;
  background: var(--ios-system-blue-transparent);
  color: var(--ios-system-blue);
}

button.tertiary, .button.tertiary, button.big.tertiary, .button.big.tertiary {
  background: var(--ios-quarternary-fill-color);
  color: var(--ios-system-blue);
}

button.big.tertiary, .button.big.tertiary {
  font: -apple-system-body; /* R17*/
}

button.tertiary.red, .button.tertiary.red {
  color: var(--ios-system-red);
}

button.secondary.red, .button.secondary.red {
  background: rgba(208,2,27,0.1);
  color: rgba(208,2,27,1);
}

button.big, .button.big {
  font: -apple-system-headline; /* SB17*/
  width: 100%;
  min-height: 50px;
  border-radius: 14px;
  justify-content: center;
  margin: var(--saldored-padding-small) auto 0 auto;
  background: var(--ios-system-blue);
  color: rgba(255,255,255,1);
  opacity: 1;
}

button.big:active, .button.big:active {
  border: none;
  opacity: .3;
}

.icon {
  display: inline-flex;
  height: 1.2em;
  align-self: center;
}

.icon svg {
  height: auto;
  width: 1em;
  margin-right: 6px;
}

/* REVISAR */
.icon svg {
  fill: currentColor;
}

.icon.blue {
  fill: var(--ios-system-blue);
  color: var(--ios-system-blue);
}

/* Billetes */
button.addMoney1000, .button.addMoney1000 {
  background: rgba(78,139,12,0.15);
  color: rgba(78,139,12,1);
}

button.addMoney2000, .button.addMoney2000 {
  background: rgba(124,48,190,0.15);
  color: rgba(124,48,190,1);
}

button.addMoney5000, .button.addMoney5000 {
  background: rgba(208,2,65,0.15);
  color: rgba(208,2,65,1);
}

button.addMoney10000, .button.addMoney10000 {
  background: rgba(2,64,208,0.15);
  color: rgba(2,64,208,1);
}

button.addMoney20000, .button.addMoney20000 {
  background: rgba(207,89,44,0.15);
  color: rgba(207,89,44,1);
}

button.card-selector {
  padding: var(--saldored-padding-small);
  margin: var(--saldored-padding-small) 0 0;
  background: var(--ios-system-grouped-background-elevated-secondary);
  border-radius: 10px;
  width: 100%;
  border: 1px solid var(--ios-primary-fill-color);
  box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0);
}

button.card-selector:active {
  background: var(--ios-quarternary-fill-color);
}

button.card-selector.selected {
  border: 1px solid var(--ios-system-blue);
  box-shadow: inset 0px 0px 0px 2px var(--ios-system-blue);
}

button.card-selector img {
  height: var(--saldored-reference-height);
  margin-right: var(--saldored-padding-small);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
}

button.card-selector .error-text {
  color: var(--ios-system-red);
}

button.card-selector[data-status="ok"] .error-text {
  display: none;
}

button.card-selector[data-status="error"] .ok-text {
  display: none;
}

.card-info {
  text-align: left;
}

.card-info p {
  font: -apple-system-footnote; /* R13*/
  color: var(--ios-secondary-label-color);
}

.card-info h4, .card-info p {
  line-height: 1.3em;
}

/* Tarjeta Bip */
body[data-card-type="Bip"] .bip-hide {
  display: none!important;
}

/* Pase Escolar */
body[data-card-type="Pase"] .pase-hide {
  display: none!important;
}

/* TAM */
body[data-card-type="TAM"] .tam-hide {
  display: none!important;
}

/* Tarjeta TrenCentral */
body[data-card-type="TrenCentral"] .trencentral-hide {
  display: none!important;
}

/* Tarjeta MerVal */
body[data-card-type="MerVal"] .merval-hide {
  display: none!important;
}

/* Tarjeta BioTren */
body[data-card-type="BioTren"] .biotren-hide {
  display: none!important;
}

.info {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 6px 1fr;
  grid-gap: 16px;
  border: 1px solid var(--ios-primary-fill-color);
  border-radius: 10px;
  background: var(--ios-system-grouped-background-secondary);
  padding: 16px;
  box-sizing: border-box;
  margin: var(--saldored-padding-small) 0 0;
}

.info::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: var(--ios-primary-fill-color);
}

/* .info svg {
  grid-column: 1;
  width: 20px;
  height: auto;
  margin: auto;
} */

.info svg {
  fill: var(--ios-system-grey-2);
}

.info.error {
  display: none;
  border: 1px solid rgba(208,2,27,0);
  background: rgba(208,2,27,0.08);
  margin: 20px auto 10px;
}

.info.error svg {
  fill: rgba(208,2,27,1);
}

body[data-error="true"] .info.error {
  display: grid;
}

#fares {
  grid-template-columns: 6px auto auto 1fr auto;
  font-weight: 400;
}

#fares h4 {
  color: var(--ios-secondary-label-color);
  font-weight: 400;
}

#fares h3 {
  font: -apple-system-body;
}

#fares .blink {
  fill: var(--ios-system-grey-2);
  grid-column: 5;
  width: 6px;
  margin: auto;
}

.info.saldoAccuracy .info-high, .info.saldoAccuracy .info-low {
  display: none;
}

.info.saldoAccuracy svg.info-high path {
  fill: var(--ios-system-green);
}

.info.saldoAccuracy.high .info-high {
  display: block;
}

.info.saldoAccuracy.low .info-low {
  display: block;
}

.info a, .info .a {
  display: block;
  width: fit-content;
  font: -apple-system-footnote;
  text-decoration: none;
  color: var(--ios-system-blue);
  font-weight: 600;
  margin-top: var(--saldored-padding-small);
}

a.inline, .a.inline {
  display: inline;
  font-weight: 400;
  color: var(--ios-system-blue);
  margin: 0;
  text-decoration: none;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-direction: alternate;
}

#loading-animation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  width: 100%;
  border-radius: 10px;

  animation: none;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

#card.loading {
  filter: grayscale();
  -webkit-transform: scale(.85);
  transform: scale(.85);
}

#card.loading #card-shadow {
  opacity: 0;
  -webkit-transform: scale(.82) translateY(0) translateZ(0);
  transform: scale(.82) translateY(0) translateZ(0);
}

#card.loading #loading-animation {
  background: repeating-linear-gradient(to right, var(--ios-system-grey-3) 0%, var(--ios-system-grey-5) 50%, var(--ios-system-grey-3) 100%);
  background-size: 200% auto;
  background-position: 0 100%;
}

#card.loading #loading-animation {
  opacity: .8;
  animation: gradient 1.5s infinite;
}

@keyframes gradient {
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}

.inputfield {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 10px;
  text-align: left;
  background: var(--ios-tertiary-fill-color);
  font-family: inherit;
  border: none;
}

input[type=text] {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  min-height: 50px;
  border: none;
  background: none;
  padding: 0 var(--saldored-padding-small);
  box-sizing: border-box;

  font-family: inherit;
  font: -apple-system-body; /* R17 */
  color: var(--ios-primary-label-color);
  text-align: left;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;

  -webkit-touch-callout: default;
  -webkit-text-size-adjust: auto;
  -webkit-user-select: all;
}

input[type=text]::placeholder {
  color: var(--ios-secondary-label-color);
  font-weight: 400;
}

input[type=text]:focus {
  color: var(--ios-primary-label-color);
  outline: none;
}

/* From https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
.shake {
  color: var(--ios-system-red);
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#card-unset-info {
  display: none;
  text-align: center;
}

#card-unset-info svg {
  height: 28px;
  width: auto;
  margin: 0 auto 20px;
}

#card-unset-info svg {
  fill: var(--ios-system-grey-2);
}

#noSavedCards {
  display: none;
  margin: 0;
}

body.noCards #card-set-info {
  display: none;
}

body.noCards #card-unset-info {
  display: block;
}

body.noCards #noSavedCards {
  display: grid;
}

.spinner {
  width: auto;
  height: 1em;
  stroke: var(--ios-secondary-label-color);
  fill: var(--ios-primary-label-color);
  vertical-align: middle;
  transform: translateX(.2em) scale(1.6);
}
